@import url(http://fonts.googleapis.com/css?family=Cabin+Sketch);
html, body {
  background: #ec3434;
  height:100%
}

*,*::before,*::after {
  box-sizing: border-box;
}

.titleContainer {
  text-align: center;
  margin: 0;
  padding: 0;
}

.titleContainer > p {
  font-size: 22px;
  font-family: "Cabin Sketch", Helvetica, sans-serif;
  color: #fffff0;
}

.btnContainer {
  margin-top: 0;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto; 
  max-width: 180px;;

}

.btnContainer button {
  display: block;
  float: left;
  width: 83px;
  color: #270a0a;
  text-align: center;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding: 2px 7px;
}

/*  */
/* .divider{
  width:5px;
  height:auto;
  display:inline-block;
} */

button.clearBtn {
  background: #FFFFF0;
}

button.rainbowBtn {
  background: #40E0D0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FF0080, #FF8C00, #40E0D0); 
  background: linear-gradient(to right, #FF0080, #FF8C00, #40E0D0); 

}

 /* Grid CSS */

 .gridContainer{
   background: #c5bdbd;
   border: 3px solid #c5bdbd;;
   margin-left: auto;
   margin-right: auto;
   width:80%;
   height:80%;
   display: grid;
  /* grid-template-columns and row height both handled in app.js file */
   grid-gap:1px;
}

.unit {
  background:#ffffff;
}

div.active {
  background: #000;
}

.unit p {
  /*Allows to JS to resize height as small as it wants without font-size limit */
  font-size:0;
}

/* Clearfix */
  .group:after {
  content: "";
  display: table;
  clear: both;
} 