html {
  background: #c5bdbd;
  height: 100%;
}

.btnContainer {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

}

 /* Grid CSS */

 .gridContainer{
  display: grid;
  grid-template-columns: repeat(16,1fr);
  grid-gap:2px;
  grid-auto-rows: 1em;
}

.unit {
  background:#ffffff;
}

